/* Big Monitors */
@media (min-width: 1440px) {
    /* #region html elements */
    header {
        /* Size */
        width: 100%;
        height: var(--header-footer-height);

        /* Placement */
        z-index: 2;

        /* Children Placement */
        display: grid;
        grid-template-columns: 5vw 70vw var(--menu-width);
        align-items: center;

        /* Debug */
        /* border: 1px solid #ff0000; */
    }
    section {
        /* Size */
        width: 100%;

        /* Placement */
        flex: 1;

        /* Children Placement */
        display: flex;
        flex-direction: row;
        align-items: center;

        /* Debug */
        /* border: 1px solid #00ff00; */
    }
    footer {
        /* Styling */
        border: none;
        background-color: rgba(250, 250, 250, 0.8);
        border-radius: 0.5rem;

        /* Size */
        width: var(--menu-width);
        height: var(--header-footer-height);

        /* Placement */
        align-self: flex-end;
        z-index: 2;
        padding: 0.5rem;
        margin: 0.5rem;

        /* Children Placement */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;

        /* Debug */
        /* border: 1px solid #ff0000; */
    }

    svg {
        height: 5vh;

        /* Debug */
        /* border: 1px solid #ff00FF; */
    }
    h1 {
        font-size: 4.125rem;
    }
    h2 {
        font-size: 2.125rem;
    }
    span {
        /*  */
        }
    li {
        font-size: 1.215rem;
    }

    /* #endregion */

    /* #region header */
    .logo {
        /* Size */
        width: 7.5vw;
        height: 7.5vw;

        /* Placement */
        padding: 0.5rem;
        justify-self: flex-start;

        /* Styling */
        border: none;
        background-color: rgba(250, 250, 250, 1);
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0.2rem;

        /* Placement */
        z-index: 1;

        /* Debug */
        /* border: 1px solid #0000ff; */
    }

    .spacing {
        /* Size */
        width: var(--menu-width);
    }

    .car-name-container {
        /* Styling */
        border: none;
        background-color: rgba(250, 250, 250, 0.8);
        border-radius: 0.5rem;
        margin: 0.5rem;

        /* Size */
        width: 100%;
        height: 100%;

        /* Placement */
        justify-self: center;

        /* Children Placement */
        display: flex;
        justify-content: center;
        align-items: center;

        /* Debug */
        /* border: 1px solid #00ff00; */
    }
    .car-name {
        /* Size */
        width: 80vw;
        height: 100%;

        /* Placement */
        display: flex;
        align-items: center;
        flex: 0 0 10vh;
        white-space: nowrap;

        /* Debug */
        /* border: 1px solid #0000ff; */
    }

    /* #endregion */

    /* #region content */

    /* #region iframe-container */
    .iframe-loader {
        /* Color */
        background-color: white;

        /* Size */
        width: 100%;
        height: 100%;

        /* Placement */
        position: absolute;
        top: 0;
        left: 0;

        z-index: 3;

        /* Children Placement */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* Interaction */
        pointer-events: none;
        transition: visibility 0s, opacity 0.5s linear;

        /* Debug */
        /* border: 1px solid #ff0000; */
        /* background-color: black; */

    }
    .loading-text {
        /* Size */
        font-size: 3.5rem;

        /* Debug */
        /* border: 1px solid #ff00ff; */
    }
    .loading-bar-container {
        /* Size */
        width: 33%;
        height: 0.3vh;
        margin: 1vh;
        border-radius: 0.5rem;

        /* Children Placement */
        display: flex;
    }
    .loading-bar-fill {
        /* Color */
        background-color: #ff0000;
        border-radius: 0.5rem;

        /* Debug */
        /* border: 1px solid #ff0000; */
    }

    .iframe-container {
        /* Size */
        width: 80%;
        height: 80vh;

        /* Debug */
        /* border: 10px solid #00ff00; */
    }
    .sketchfab-iframe {
        /* Size */
        width: 100%;
        height: 100%;

        /* Styling */
        border: none;

        /* Placement */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        /* Debug */
        /* border: 10px solid #0000ff; */
        /* display: none; */
    }

    /* #endregion */

    /* #region info-container */

    .info-container {
        /* Styling */
        margin: 0.5rem;
        padding: 0.5rem;

        /* Size */
        width: calc(var(--menu-width) + 2vw);
        max-height: 94%;

        /* Placement */
        z-index: 1;

        /* Children Placement */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        /* Debug */
        /* border: 1px solid #ff00FF; */
    }

    .car-info {

        border: none;
        width: 100%;
        background-color: rgba(250, 250, 250, 0.8);
        border-radius: 0.5rem;
        /* padding: 0.5rem; */

        /* Children Placement */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;


        /* Debug */
        /* border: 1px solid #ff0000; */
    }
    .info-title {

        margin-left: 1rem;
        align-self: flex-start;

        /* Debug */
        /* border: 1px solid #ff0000; */

    }
    .button-group {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;

        width: 85%;
        border: 1px solid #ff0000;
        border-radius: 0.5rem;

        padding: 0.4rem;
        margin: 0.4rem;

    }
    .round-button {
        /* Lettering */
        font-weight: 600;

        /* Color */
        background: rgba(240, 240, 240, 0.1);

        /* Size and Shape */
        border-radius: 0.5rem;
        border: none;
    }
    .round-button.active {
        /* Color */
        background-color: #ff0000;
        border: #ff0000;

        /* Letering */
        color: #ffffff;

        /* Size and Shape */
        border: none;

        /* Debug */
        /* border: 10px solid #ff00ff; */
    }
    .round-button:hover {
        /* Color */
        border: 1px solid #ff0000;

        /* Letering */
        color: #ff0000;

        /* Debug */
        /* border: 1px solid #ff00ff; */
    }
    .round-button.active:hover {
        /* Color */
        border: 1px solid #ff0000;
        /* background-color: #ffffff; */
        background-color: rgba(250, 250, 250, 0.8);

        /* Lettering */
        color: #ff0000;
    }


    .color-info-container {
        display: flex;
        justify-content: center;

        /* Debug */
        /* border: 1px solid #ff00FF; */
    }
    .color-info {
        font-size: 2rem;
        font-weight: bold;
        align-self: center;

    }
    .colors-picker {
        /* Sizing */
        margin: 0.33rem;

        /* Children Placement */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;

        /* Debug */
        /* border: 1px solid #ff00ff; */
    }
    .colors-container {

        height: 3vh;

        /* Children Placement */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
    .car-color,
    .int-color {
        /* Size */
        width: 3vh;
        height: 100%;

        /* Coloring */

        border: 1px solid #000000;

        /* Spacing */
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        /* Debug */
        /* border: 1px solid #ff00ff; */
    }
    .car-color.active {
        border: 1px solid #ff0000;
    }
    .int-color.active {
        border: 1px solid #ff0000;
    }

    .exterior-container {
        max-height: 35vh;
        width: 85%;

        /* Children Placement */
        display: flex;

        border: 1px solid #ff0000;
        border-radius: 0.5rem;
        margin: 0.5rem;

        /* Debug */
        /* border: 1px solid #ff00ff; */
    }
    .exterior-list {
        /* Size */

        /* Placement */
        margin: 0.5rem;
        padding: 0.3rem 0.3rem 0.3rem 1rem;

        /* Children Placement */
        /* display: flex; */
        /* display: none; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: baseline; */

        /* Debug */
        /* border: 1px solid #ff0000; */
    }

    /* #endregion */

    /* #endregion */

    /* #region footer*/
    .view-button {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;

        /* Debug */
        /* border: 1px solid #ff0000; */
    }
    .view-desc {
        font-size: 1rem;
    }
    /* #endregion */

}
